# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_RIRY58_LEFT
    def_bool $(shields_list_contains,riry58_left)

config SHIELD_RIRY58_RIGHT
    def_bool $(shields_list_contains,riry58_right)
